.App {
  background: black;
  height: 100vh;
  flex-direction: column;
  display: flex;
}

.header {
  text-align: center;
  background-color: #ddd;
  padding: 2px;
  color: black;
}

.title {
  font-size: 1.5em;
}

.outputParentDiv {
  font-size: large;
  font-family: monospace;
  color: white;
  padding: 30px;
  /*overflow-y: scroll;*/
  overflow-x: auto;
  margin-top: auto;
}

.historyDiv {
  color: #444;
  pointer-events: none;
}

.sourceDivs {
  margin: 0;
  display: flex;
  height: 300px;
  overflow: auto;
  resize: vertical;
  border-top: gray 1px solid;
  flex-direction: row;
  font:normal 12px/16px monospace !important;
  color:#CFDBEC;
  background-color:#2f2f2f;
}

.sourceDiv {
  flex-grow: 1;
  padding: 1px 10px;
  background-image:repeating-linear-gradient(top, #444 0px, #444 16px, #2f2f2f 16px, #2f2f2f 32px);
}

.errorMsg, .errorLine {
  color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.lineOfText {
  height: 20px;
}

.outputDiv .clickable {
  cursor: pointer;
}

.outputDiv .clickable:hover {
  color: yellow;
}

.commandInput {
  background: none;
  border: none;
  color: white;
  font-family: monospace;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  outline: none !important;
}
